@model FleetManagementWebApplication.Models.Plan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
    <div class="box-wrapper">
        <div class="box effect6">

            <h2>@Model.Name</h2>
            <div class="w3-container w3-padding">

                <h3>Activities</h3>
                <ul>
                    @foreach (Activity a in @Model.Activities)
                    {
                        <li> @a.Service.Name every @a.Period days</li>

                    }
                </ul>
                <hr />
                <h3>Vehicles</h3>
                <ul>
                    @foreach (Vehicle v in @Model.Vehicles)
                    {
                        <li> @v.Make  @v.Model  @v.LicensePlate</li>

                    }
                </ul>



            </div>
        </div>
        </div>
        <style>

            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }

            body {
                background: #ccc
            }

            .box {
                text-align: left;
                position: relative;
                top: 12px;
                padding: 10px 30px;
                width: 60%;
                padding-bottom: 30px;
                background: #FFF;
            }

            .effect6 {
                position: relative;
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow: 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            }

                .effect6:before, .effect6:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
                    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
                    box-shadow: 0 0 50px rgba(0,0,0,0.8);
                    top: 50%;
                    bottom: 0;
                    left: 10px;
                    right: 10px;
                    -moz-border-radius: 100px / 10px;
                    border-radius: 100px / 10px;
                }

                .effect6:after {
                    right: 10px;
                    left: auto;
                    -webkit-transform: skew(8deg) rotate(3deg);
                    -moz-transform: skew(8deg) rotate(3deg);
                    -ms-transform: skew(8deg) rotate(3deg);
                    -o-transform: skew(8deg) rotate(3deg);
                    transform: skew(8deg) rotate(3deg);
                }
        </style>
