<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="~/css/vehicle.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="~/css/font.css">
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif
        }

        body {
            background: #ccc
        }
    </style>
</head>
@{
    Notification[] Notifications = (Notification[])ViewData["Notifications"];
    if (Notifications == null)
    {
        Notifications = new Notification[0];
    }
    long exclude = 0;
    int N = Notifications.Length;
    if (ViewData["notificationId"] != null)
    {
        exclude = (long)ViewData["notificationId"];
        N--;
    }

}
<!-- Navbar -->

<body onresize="Resize();" id="body">
    <div>
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()"
               style="text-decoration:none;"><i class="fa fa-bars"></i></a>
            <a  href="/Home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
               style="text-decoration:none;"><i class="fa fa-home w3-margin-right"></i><span id="home">@ViewData["CompanyName"]</span></a>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Vehicles</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:270px">
                    <a asp-controller="Vehicles" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add a vehicle</a>
                    <a asp-controller="Vehicles" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Manage vehicles</a>
                    <a asp-controller="Map" asp-action="TrackVehicle"  class="w3-bar-item w3-button" style="text-decoration:none;">Track vehicles</a>
                    <a asp-controller="FuelLogs" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Fuel Log</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Services</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:270px">
                    <a asp-controller="Services" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Services</a>
                    <a asp-controller="Plans" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Create maintenance plan</a>
                    <a asp-controller="Plans" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Manage maintenance plans</a>

                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Drivers</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                    <a asp-controller="Drivers" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add a driver</a>
                    <a asp-controller="Drivers" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">All drivers</a>
                    <a asp-controller="Deliveries" asp-action="DriversDeliveries" class="w3-bar-item w3-button" style="text-decoration:none;">Drivers deliveries</a>

                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Trips</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:230px">
                    <a asp-controller="Map" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Map</a>
                    <a asp-controller="Map" asp-action="CreateMapLocation" class="w3-bar-item w3-button" style="text-decoration:none;">Add map location</a>
                    <a asp-controller="Map" asp-action="AutomaticResponse" class="w3-bar-item w3-button" style="text-decoration:none;">Automatic Response</a>

                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Clients</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:230px">
                    <a asp-controller="Clients" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add Client</a>
                    <a asp-controller="Clients" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">All Clients</a>
                    <a asp-controller="Deliveries" asp-action="ClientsDeliveries" asp-route-id="1" class="w3-bar-item w3-button" style="text-decoration:none;">Clients deliveries</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Bills</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                    <a asp-controller="Bills" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">New bill</a>
                    <a asp-controller="Bills" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">All bills</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large">Reports</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                    <a asp-controller="Reports" asp-action="DriversRanks" class="w3-bar-item w3-button" style="text-decoration:none;">Drivers Ranks</a>
                    <a asp-controller="Reports" asp-action="DriversEvolution" class="w3-bar-item w3-button" style="text-decoration:none;">Drivers Evolution</a>
                    <a asp-controller="Reports" asp-action="Costs" class="w3-bar-item w3-button" style="text-decoration:none;">Costs Evaluation</a>
                    <a asp-controller="Reports" asp-action="FuelConsumption" class="w3-bar-item w3-button" style="text-decoration:none;">Fuel Consumption</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small w3-left">
                <button class="w3-button w3-padding-large">
                    <i class="fa fa-bell"></i>
                    @if (N > 0)
                    {
                        <span class="w3-badge w3-right w3-small w3-green">@N</span>
                    }
                </button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    @foreach (Notification n in Notifications)
                    {
                        if (n.Id != exclude)
                        {
                            <form asp-controller="@n.Controller" asp-action="Index" method="get">
                                <input type="hidden" value="@n.Id" name="Id" />
                                <input type="submit" class="w3-bar-item w3-button" value="@n.Title" />
                            </form>

                        }

                    }

                </div>
            </div>


            <div id="acc-container" class="w3-dropdown-hover w3-hide-small w3-right">
                <button class="w3-button w3-padding-large"><i class="fa fa-user" style="padding-right:10px;"></i><span id="accont-name">@ViewData["Name"]</span></button>
                <div id="acc-content" class="w3-dropdown-content w3-card-4 w3-bar-block" >
                    <a asp-controller="Managers" asp-action="Edit" class="w3-bar-item w3-button " style="text-decoration:none;">Edit</a>
                    <a asp-controller="Managers" asp-action="LogOut" class="w3-bar-item w3-button " style="text-decoration:none;">Log out</a>
                    <a asp-controller="Managers" asp-action="Delete" class="w3-bar-item w3-button " style="text-decoration:none;">Delete</a>
                </div>
            </div>
            <!--
            <div class="   w3-right " style="height:53px;padding-top:8px">
                <form defaultbutton="Query" asp-controller="@ViewData["QueryPlaceHolder"]" asp-action="Search" runat="server">
                    <input type="text" name="Query" placeholder="Search @ViewData["QueryPlaceHolder"]"
                           style="background-color:silver;color:black;height:40px;padding-left:10px"
                           value="@ViewData["Query"]">
                </form>
            </div>
                -->





        </div>

    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script type="text/javascript">
    Resize();
    function Resize() {
        if (document.getElementById("body").clientWidth < 1300) {

            $("#home").css("display", "none");
            $(".resize").css("font-size", "12px");
              $(".resize-padding").css("padding-left", "15px");
         
        }
        else {
            $("#home").css("display", "initial");
                $(".resize").css("font-size", "15px");
            $(".resize-padding").css("padding-left", "10px");
        }
        if (document.getElementById("body").clientWidth < 1300) {
            $("#accont-name").css("display", "none");
            $("#acc-container").removeClass("w3-right");
             $("#acc-content").css("width", "10px");
           
        }else {
            $("#accont-name").css("display", "initial");
            $("#acc-container").addClass("w3-right");
             $("#acc-content").css("width", "220px");

        }


    }  
   
     </script>

    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">


        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">


        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>

