<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="~/css/vehicle.css" />
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }

    body {
        background: #ccc
    }
    .box{
        margin: 10px auto;
    }
   
</style>
@{ 
    Notification[] Notifications = (Notification[])ViewData["Notifications"];
    if (Notifications == null)
    {
        Notifications = new Notification[0];
    }
    long exclude = 0;
    int N = Notifications.Length;
    if (ViewData["notificationId"] != null)
    {
        exclude = (long)ViewData["notificationId"];
        N--;
    }

}
<!-- Navbar -->
<div>
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a  class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" 
           href="javascript:void(0);" onclick="openNav()"
           style="text-decoration:none;" ><i class="fa fa-bars"></i></a>
        <a href="/Home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
           style="text-decoration:none;" ><i class="fa fa-home w3-margin-right"></i>@ViewData["CompanyName"]</a>

        <div class="w3-dropdown-hover w3-hide-small ">
            <button class="w3-button w3-padding-large">Vehicles</button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:270px">
                <a asp-controller="Vehicles" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add a vehicle</a>
                <a asp-controller="Vehicles" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Manage vehicles</a>
                <a asp-controller="Plans" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Create maintenance plan</a>
                <a asp-controller="Plans" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Manage maintenance plans</a>
            </div>
        </div>

        <div class="w3-dropdown-hover w3-hide-small ">
            <button class="w3-button w3-padding-large">Drivers</button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                <a asp-controller="Drivers" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">Add a driver</a>
                <a asp-controller="Drivers" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">All drivers</a>
     </div>
        </div>

        <div class="w3-dropdown-hover w3-hide-small ">
            <button class="w3-button w3-padding-large">Trips</button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:230px">
                <a asp-controller="Map" asp-action="Index" class="w3-bar-item w3-button" style="text-decoration:none;">Map</a>
                <a asp-controller="Map" asp-action="CreateMapLocation" class="w3-bar-item w3-button" style="text-decoration:none;">Add map location</a>
                <a asp-controller="Map" asp-action="AddClient" class="w3-bar-item w3-button" style="text-decoration:none;">Add Client</a>
                <a asp-controller="Map" asp-action="AutomaticResponse" class="w3-bar-item w3-button" style="text-decoration:none;">Automatic Response</a>

            </div>
        </div>

        <div class="w3-dropdown-hover w3-hide-small ">
            <button class="w3-button w3-padding-large">Bills</button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                <a asp-controller="Bills" asp-action="Create" class="w3-bar-item w3-button" style="text-decoration:none;">New bill</a>
                <a asp-controller="Bills" asp-action="Index"  class="w3-bar-item w3-button" style="text-decoration:none;">All bills</a>
            </div>
        </div>

        <div class="w3-dropdown-hover w3-hide-small ">
            <button class="w3-button w3-padding-large">Reports</button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:200px">
                <a asp-controller="Reports" asp-action="DriversRanks" class="w3-bar-item w3-button" style="text-decoration:none;">Drivers Ranks</a>
                <a asp-controller="Reports" asp-action="DriversEvolution" class="w3-bar-item w3-button" style="text-decoration:none;">Drivers Evolution</a>
                <a asp-controller="Reports" asp-action="Costs" class="w3-bar-item w3-button" style="text-decoration:none;">Costs Evolution</a>
                <a asp-controller="Reports" asp-action="FuelConsumption" class="w3-bar-item w3-button" style="text-decoration:none;">Fuel Consumption</a>
            </div>
        </div>

            <div class="w3-dropdown-hover w3-hide-small w3-left">
                <button class="w3-button w3-padding-large">
                    <i class="fa fa-bell"></i>
                    @if (N > 0)
                    {
                        <span class="w3-badge w3-right w3-small w3-green">@N</span>
                    }
                    </button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    @foreach (Notification n in Notifications)
                    {
                        if (n.Id != exclude)
                        {
                            <form asp-controller="@n.Controller" asp-action="Index" method="get">
                                <input type="hidden" value="@n.Id" name="Id" />
                                <input type="submit" class="w3-bar-item w3-button" value="@n.Title" />
                            </form>

                        }

                    }

                </div>
            </div>
     

            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <button class="w3-button w3-padding-large">&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;@ViewData["Name"]</button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:220px">
                    <a asp-controller="Managers" asp-action="Edit" class="w3-bar-item w3-button " style="text-decoration:none;" >Edit</a>
                    <a asp-controller="Managers" asp-action="LogOut" class="w3-bar-item w3-button " style="text-decoration:none;">Log out</a>
                    <a asp-controller="Managers" asp-action="Delete" class="w3-bar-item w3-button " style="text-decoration:none;">Delete</a>
                </div>
            </div>
            <div class="   w3-right " style="height:53px;padding-top:8px">
                <form defaultbutton="Query" asp-controller="@ViewData["QueryPlaceHolder"]" asp-action="Search" runat="server">
                    <input type="text" name="Query" placeholder="Search @ViewData["QueryPlaceHolder"]"
                           style="background-color:silver;color:black;height:40px;padding-left:10px"
                           value="@ViewData["Query"]">
                </form>
            </div>





        </div>

</div>
<body>


    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>

