@{
    ViewData["Title"] = "Details";
    Layout = "LayoutManager";

}
<style>

    .box {
        text-align: left;
        position: relative;
        top: 10px;
        padding: 10px 30px;
        width: 95%;
        height: 560px;
        background: #FFF;
    }

    .v-btn {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 8px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        padding-left: 12px;
    }

    .v-btn {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
    }

    .v-btn-selected {
        background-color: #e7e7e7;
    }
</style>
<div class="box-wrapper">
<div class="box effect6">
    <div class="w3-container w3-padding">
        <table width="100%">
            <tr style="vertical-align:top">
                <td style="padding-right:20px;" width="15%">
                    <table>
                        <tr>
                            <td>
                                <form asp-controller="VehiclesDetails" asp-action="Index" method="get">
                                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                                    <button class="v-btn @ViewData["one"] sized">Properties</button>
                                </form>
                                <form asp-controller="VehiclesDetails" asp-action="ScheduledServices" method="get">
                                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                                    <button class="v-btn  @ViewData["two"] sized">Scheduled services</button>
                                </form>
                                <form asp-controller="VehiclesDetails" asp-action="Costs" method="get">
                                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                                    <button class="v-btn @ViewData["three"]  sized">Costs</button>
                                </form>
                                <form asp-controller="VehiclesDetails" asp-action="FuelLogs" method="get">
                                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                                    <button class="v-btn @ViewData["five"]  sized">Fuel Logs</button>
                                </form>
                                <form asp-controller="VehiclesDetails" asp-action="Deliveries" method="get">
                                    <input type="hidden" name="Id" value="@ViewData["Id"]" />
                                    <button class="v-btn @ViewData["four"]  sized">Delivery history</button>
                                </form>

                            </td>
                        </tr>

                    </table>
                </td>
                <td style="padding-left:40px;border-left: 1px solid grey;height:500px">@RenderBody()</td>
            </tr>
        </table>




    </div>
    </div>
</div>

