@model FleetManagementWebApplication.Models.DeliverySummary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DeliverySummary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartFuelLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartFuelLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndFuelLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndFuelLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOdometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOdometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOdometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOdometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSpeedings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSpeedings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfNoSeatbelts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfNoSeatbelts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfHarshbreaks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfHarshbreaks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
