@model IEnumerable<FleetManagementWebApplication.Models.DeliverySummary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartFuelLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndFuelLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOdometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOdometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSpeedings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfNoSeatbelts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfHarshbreaks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartFuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndFuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOdometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOdometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSpeedings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfNoSeatbelts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfHarshbreaks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
