@model IEnumerable<FleetManagementWebApplication.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "LayoutManager";
    Vehicle[] Vehicles=Model.ToArray();
    int N = Vehicles.Count();
}
    <style>
        .box {
            text-align: left;
            position: relative;
            top: 1px;
            padding: 1px 1px;
            width: 100%;
            height: 100%;
            background: #FFF;
            margin: 6px 5px;
        }
    </style>
      <center>
          <table style="padding-left:7px" width="96%">
              @for (int i = 0; i < N; i += 3)
              {
              <tr>
                  <td width="33.333%">
                      <div class="box effect6 w3-left">

                          <div class="w3-container w3-padding">
                              <form asp-controller="VehiclesDetails" method="get">
                                  <h3>@Vehicles[i].Make    @Vehicles[i].Model</h3>
                                  <h6 class="w3-opacity"><span style="background-color:silver">LicensePlate :@Vehicles[i].LicensePlate</span></h6>
                                  <table width="100%">
                                      <tr>
                                          <td rowspan="3">

                                              <h6 class="w3-opacity">Odometer : @Vehicles[i].Odometer Km</h6>
                                              <h6 class="w3-opacity">PayLoad : @Vehicles[i].PayLoad @ViewData["type"]</h6>
                                              <h6 class="w3-opacity">Fuel Level : @Vehicles[i].FuelLevel Litres</h6>
                                          </td>

                                          <td>
                                              <button type="submit" class="w3-button w3-theme w3-large sized" formaction="/VehiclesDetails/Index"> Maintenance</button>
                                              <input type="hidden" name="id" value="@Vehicles[i].Id" />
                                          </td>
                                      </tr>
                                      <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetEdit"> Edit </button></td></tr>
                                      <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetDelete">Delete </button></td></tr>
                                  </table>

                              </form>

                          </div>
                      </div>

                  </td>

                  @if (i + 1 < N)
                  {
                      <td width="33.333%">
                          <div class="box effect6">

                              <div class="w3-container w3-padding">
                                  <form asp-controller="VehiclesDetails" asp-action="Index">
                                      <h3>@Vehicles[i + 1].Make @Vehicles[i + 1].Model</h3>
                                      <h6 class="w3-opacity"><span style="background-color:silver">LicensePlate : @Vehicles[i + 1].LicensePlate</span></h6>
                                      <table width="100%">
                                          <tr>
                                              <td rowspan="3">

                                                  <h6 class="w3-opacity">Odometer : @Vehicles[i + 1].Odometer Km</h6>
                                                  <h6 class="w3-opacity">PayLoad : @Vehicles[i + 1].PayLoad @ViewData["type"]</h6>
                                                  <h6 class="w3-opacity">Fuel Level : @Vehicles[i + 1].FuelLevel Litres</h6>
                                              </td>
                                              <td>
                                                  <button type="submit" class="w3-button w3-theme w3-large sized" formaction="/VehiclesDetails/Index"> Maintenance  </button>
                                                  <input type="hidden" name="id" value="@Vehicles[i+1].Id" />
                                              </td>
                                          </tr>
                                          <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetEdit"> Edit </button></td></tr>
                                          <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetDelete">Delete </button></td></tr>
                                      </table>

                                  </form>

                              </div>
                          </div>


                      </td>
                  }
                  else
                  {
                      <td width="33.333%">
                          &nbsp;
                      </td>
                  }

                  @if (i + 2 < N)
                  {
                      <td width="33.3333%">
                          <div class="box effect6">

                              <div class="w3-container w3-padding">
                                  <form asp-controller="VehiclesDetails" asp-action="Index">
                                      <h3>@Vehicles[i + 2].Make @Vehicles[i + 2].Model</h3>
                                      <h6 class="w3-opacity"><span style="background-color:silver">LicensePlate : @Vehicles[i + 2].LicensePlate</span></h6>
                                      <table width="100%">
                                          <tr>
                                              <td rowspan="3">

                                                  <h6 class="w3-opacity">Odometer : @Vehicles[i + 2].Odometer Km</h6>
                                                  <h6 class="w3-opacity">PayLoad : @Vehicles[i + 2].PayLoad @ViewData["type"]</h6>
                                                  <h6 class="w3-opacity">Fuel Level : @Vehicles[i + 2].FuelLevel  Litres</h6>
                                              </td>
                                              <td>
                                                  <button type="submit" class="w3-button w3-theme w3-large sized" formaction="/VehiclesDetails/Index"> Maintenance  </button>
                                                  <input type="hidden" name="id" value="@Vehicles[i+2].Id" />
                                              </td>
                                          </tr>
                                          <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetEdit"> Edit </button></td></tr>
                                          <tr><td><button type="submit" class="w3-button w3-theme w3-large sized" formaction="/Vehicles/GetDelete">Delete </button></td></tr>
                                      </table>

                                  </form>

                              </div>
                          </div>


                      </td>
                  }
                  else
                  {
                      <td width="33.333%">
                          &nbsp;
                      </td>
                  }


              </tr>



              }
          </table>
      </center>

