@model IEnumerable<FleetManagementWebApplication.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
    <div class="box-wrapper">


        <div class="box effect6">
            <h3>All Bills</h3>
            <div class="w3-container w3-padding">


                <form asp-controller="Bills" asp-action="Search" id="myForm">
                    <div  style="border:2px solid grey;border-radius:20px;background-color: rgb(250,250,250);padding:20px 20px">
                    <table width="100%" cellspacing="15px" >
                        <tr>
                            <td class="td1" colspan="5" style="text-align:left;color:rgb(50,50,50)">
                                Filter bills by: 
                                </td>
                        </tr>
                        <tr>
                            <td class="td1">
                                <input type="text" name="StartDate" placeholder="Start Date" style="height:50px;"
                                      class="input1" value="@ViewData["start"]" onkeyup="search(event);" />
                            </td>
                            <td class="td1">
                                <input type="text" name="EndDate" placeholder="End Date"
                                    class="input1"   value="@ViewData["end"]" onkeyup="search(event);" />
                            </td>
                            <td class="td1">
                                <input type="text" name="Service" placeholder="Service"
                                    class="input1"   value="@ViewData["service"]" onkeyup="search(event);" />
                            </td>
                            <td class="td1">
                                <input type="text" name="Vehicle" placeholder="Vehicle"
                                    class="input1"  value="@ViewData["vehicle"]" onkeyup="search(event);" />
                            </td>
                            <td class="td1">
                                <input type="text" name="Provider" placeholder="Provider"
                                     class="input1"  value="@ViewData["provider"]" onkeyup="search(event);" />
                            </td>
                        </tr>

                    </table>
                        </div>
                </form>
                <center>
                    <br /><br />
                    <table width="90%" style="padding:10px 10px">
                        <tr>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Vehicle</th>
                            <th>Provider</th>
                            <th>Cost</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="date">
                                    @item.DateTime.ToShortDateString()
                                </td>
                                <td>
                                    @item.Service
                                </td>
                                <td>
                                    @item.Vehicle.Make @item.Vehicle.Model @item.Vehicle.LicensePlate
                                </td>
                                <td>
                                    @item.Provider
                                </td>
                                <td class="cost">
                                    @item.Cost $
                                </td>

                            </tr>
                        }

                    </table>

                </center>
            </div>
        </div>
    </div>
        <script>
            function search(event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    document.getElementById("myForm").submit();
                }
            }
        </script>

        <style>
            tr, th {
                text-align: left
            }

            th {
                background-color: green;
                color: white;
              padding: 2px 10px;
            }

            .date {
                background-color: cyan;
                width: 200px;
                color: black;
            }

            .cost {
                background-color: red;
                width: 150px;
                color: black;
            }

            td {
            background-color:silver;
                padding-left: 10px;
            }

            .td1 {
                text-align: center;
                background-color:initial;
                padding: 2px 2px;
                color: white;
                font-size: 18px;
            }

            .input1 {
                width: 100%;
                 border:2px solid grey;
                padding-left: 20px;
                height:50px;
                
            }

            html, body, h1, h2, h3, h4, h5 {
                font-family: "Open Sans", sans-serif
            }

            .box {
                text-align: left;
                position: relative;
                top: 12px;
                padding: 10px 30px;
                width: 95%;
                padding-bottom: 200px;
                background: #FFF;
            }

            
              
        </style>